@charset "UTF-8";
/* 基礎タグ ---------------------------------*/

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8C7676;
  border-radius: 10px;
}

html {
  font-family: "Mplus 1p";
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
}

a {
  color: #8C7676;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  opacity: .6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* ライブラリ等で追加された要素につけるCSS -------*/

.fa-qiita {
  font-size: .6em;
  padding-bottom: .2em;
}

.fa-pixiv {
  width: 4em;
}

/* その他 -----------------------------------*/

.dot {
  image-rendering: pixelated;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.under-line {
  border-bottom: 1px dotted #8C7676;
}

ul.no-list {
  list-style: none;
  padding-left: 0;
}

ul.inline > li {
  display: inline-block;
}

body {
  color: #8C7676;
  background-color: #29abe2;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 13vh;
  background: url(../img/header_bg.png) repeat-x;
  background-size: 25%;
  z-index: 100;
}

header #title {
  width: 15em;
  margin: auto;
  padding: .5em;
  font-size: 3rem;
  text-align: center;
}

header .sns {
  position: absolute;
  top: -.5em;
  right: 2em;
  font-size: 2rem;
}

header .sns a {
  position: relative;
  display: inline-block;
}

header .sns a li {
  width: 2.5rem;
  margin: 0rem .5rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #8C7676;
  border-radius: 100px;
}

header .sns a .balloon {
  position: absolute;
  top: 1.5em;
  right: -1em;
  padding: 1em;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  background: #8C7676;
  opacity: 0;
  transition: .3s;
  z-index: 100;
}

header .sns a .balloon:after {
  position: absolute;
  top: -30%;
  right: 40%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #8C7676;
  content: "";
}

header .sns a:hover {
  opacity: 1;
}

header .sns a:hover .balloon {
  top: 3em;
  opacity: 1;
}

#page-ctrl {
  position: relative;
  top: 6vh;
  font-size: 1rem;
  background-color: #fff;
  z-index: 100;
  transition: .5s;
}

#page-ctrl ul {
  position: absolute;
}

#page-ctrl ul li {
  width: 10em;
  margin: 1em;
  padding: 2em;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
  cursor: pointer;
  transition: .3s;
}

#page-ctrl ul li .ttl {
  font-size: 2em;
}

#page-ctrl ul li .sub {
  margin: .5em auto;
  font-size: 1.5em;
}

#page-ctrl ul li img {
  width: 4em;
}

#page-ctrl ul li:hover {
  opacity: .7;
}

#page-ctrl ul.left {
  left: 5%;
}

#page-ctrl ul.right {
  right: 5%;
}

main {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
}

main #cloud {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 18vh;
  background-image: url(../img/bg_cloud.png);
  background-size: contain;
  animation: bg-cloud 5s infinite;
}

@keyframes bg-cloud {
  50% {
    top: 23%;
  }
  100% {
    top: 20%;
  }
}

main #page-display {
  position: relative;
  top: 13vh;
  width: 100vw;
  height: 67vh;
}

#field {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20vh;
  z-index: 100;
}

#field #bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50%;
  background: url(../img/field_bg.png) repeat-x;
  background-size: 20%;
}

#field #chara {
  position: absolute;
  top: 0;
  z-index: 100;
}

#field #chara .chara-img {
  width: 32px;
  height: 32px;
  background: url(../img/chara_chip.png) no-repeat;
  transform: scale(-1, 1);
  zoom: 4;
}

#field #chara #def {
  background-position-x: 0px;
  background-position-y: 0px;
}

#field #chara #def-blink {
  background-position-x: 0px;
  background-position-y: 0px;
  animation: chara-def-blink 0.5s steps(2) infinite;
}

@keyframes chara-def-blink {
  50% {
    background-position-x: -64px;
    background-position-y: 0px;
  }
}

#field #chara #emo-haifun {
  background-position-x: 0px;
  background-position-y: -32px;
}

#field #chara #emo-haifun-blink {
  background-position-x: 0px;
  background-position-y: -32px;
  animation: chara-emo-haifun-blink 0.5s steps(2) infinite;
}

@keyframes chara-emo-haifun-blink {
  50% {
    background-position-x: -64px;
    background-position-y: -32px;
  }
}

#field #chara #emo-line {
  background-position-x: 0px;
  background-position-y: -64px;
  transform: scale(-1, 1);
}

#field #chara #emo-line-blink {
  background-position-x: 0px;
  background-position-y: -64px;
  animation: chara-emo-line-blink 0.5s steps(2) infinite;
}

@keyframes chara-emo-line-blink {
  50% {
    background-position-x: -64px;
    background-position-y: -64px;
  }
}

#field #chara #emo-rtri {
  background-position-x: 0px;
  background-position-y: -96px;
}

#field #chara #emo-rtri-blink {
  background-position-x: 0px;
  background-position-y: -96px;
  animation: chara-emo-rtri-blink 0.5s steps(2) infinite;
}

@keyframes chara-emo-rtri-blink {
  50% {
    background-position-x: -64px;
    background-position-y: -96px;
  }
}

#field #chara #move {
  background: url(../img/chara_move_chip.png) no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  animation: chara-move 1.8s steps(8) infinite;
}

@keyframes chara-move {
  50% {
    background-position-x: -256px;
    background-position-y: 0px;
  }
}

#field #chara #shake-hand {
  background-position-x: 0px;
  background-position-y: -128px;
  animation: chara-shake-hand 0.5s steps(2) infinite;
}

@keyframes chara-shake-hand {
  50% {
    background-position-x: -64px;
    background-position-y: -128px;
  }
}

#field #chara #balloon {
  width: 64px;
  height: 64px;
  background-position-x: 0px;
  background-position-y: -160px;
}

#field #chara #balloon-blink {
  width: 64px;
  height: 64px;
  background-position-x: 0px;
  background-position-y: -160px;
  animation: chara-balloon-blink 0.5s steps(2) infinite;
}

@keyframes chara-balloon-blink {
  50% {
    background-position-x: -128px;
    background-position-y: -160px;
  }
}

#field #next {
  width: 100%;
  margin: 1em 3em;
  color: white;
  font-size: 3em;
  text-align: right;
}

#field #next .ttl {
  margin-bottom: 1em;
}

#field #next .sub {
  font-size: .5em;
}

.reverse {
  transform: scale(-1, 1);
}

.no-reverse {
  transform: scale(1, 1);
}

.mini {
  font-size: .5em;
}

h2 {
  padding-left: .5em;
  padding-bottom: .2em;
  text-align: center;
  border-bottom: 1px solid #8C7676;
}

h2 .mini {
  margin-left: 1em;
}

.page-sec {
  position: relative;
  top: 5%;
  width: 95%;
  height: 75vh;
  margin: 0 auto;
}

.page-sec .section {
  position: relative;
  margin: auto;
  padding: 1em;
  font-size: 2rem;
}

#page-index {
  color: #fff;
}

#page-index #bg-index {
  text-align: center;
}

#page-index #bg-index img {
  margin-top: -22%;
  margin-left: -2%;
  width: 75%;
  animation: bg-index 40s infinite;
  animation-timing-function: linear;
}

@keyframes bg-index {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page-index .section {
  position: absolute;
  width: 100vw;
  top: 20%;
  text-align: center;
  z-index: 50;
}

#page-index .section h1 {
  margin: 0 auto;
  font-size: 5.5em;
  line-height: 1.5em;
}

#page-index .section h1 .big {
  font-size: 1.2em;
}

#page-index .section h2 {
  margin-top: 0.5em;
  font-size: 2em;
}

#page-index .section .des {
  width: 30em;
  margin: 2em auto;
  padding: 1em;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#page-intro {
  background-color: #9a664d;
  border-radius: 10px;
}

#page-intro .section {
  position: relative;
  top: 5%;
  width: 90%;
  height: 80%;
  margin: auto;
  padding: 1em;
  font-size: 2rem;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}

#page-intro .section h2 {
  margin-bottom: .5em;
  text-align: center;
}

#page-intro .section .con {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  width: 48%;
}

#page-intro .section .con .ttl {
  margin-bottom: .2em;
  padding: .5em;
  font-size: 2.5rem;
  text-align: center;
}

#page-intro .section .con1 .ttl {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px double;
}

#page-intro .section .con1 table {
  margin: auto;
  font-size: 1em;
  border: none;
}

#page-intro .section .con1 table td {
  padding: .7em 1em;
  color: white;
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px double;
}

#page-intro .section .con1 table td.theme {
  width: 5em;
}

#page-intro .section .con1 table td.con {
  width: 20em;
}

#page-intro .section .con2 {
  text-align: center;
}

#page-intro .section .con2 .swiper-pagination {
  top: 70%;
}

#page-history .r-scrolls {
  position: absolute;
  right: 0;
  width: 10%;
  height: 100%;
  background-image: url(../img/history-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

#page-history .section-wrap {
  position: relative;
  top: 5%;
  width: 95%;
  height: 90%;
  margin: auto 0;
  background-color: #9e9985;
  border-radius: 10px;
}

#page-history .section-wrap .section {
  position: relative;
  top: 5%;
  width: 91%;
  height: 85%;
  margin: 1em;
  line-height: 1.5em;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}

#page-history .section-wrap .section h2 {
  text-align: center;
}

#page-history .section-wrap .section .content1 {
  width: 100%;
}

#page-history .section-wrap .section .content1 p {
  width: 70%;
  margin: 1em auto;
}

#page-history .section-wrap .section .content1 p .under-line {
  border: none;
  border-bottom: 2px dotted;
}

#page-history .section-wrap .section .content2 {
  width: 100%;
  margin: auto 1em;
}

#page-history .section-wrap .section .content2 .con {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 20%;
  margin: 0 2em 2em 2em;
  padding: 1em;
  text-align: center;
  border: 3px dotted #9e9985;
  border-radius: 10px;
}

#page-history .section-wrap .section .content2 .con .year {
  margin-bottom: .5em;
  height: 2em;
  line-height: 1em;
  border-bottom: 1px solid;
}

#page-history .section-wrap .section .content2 .con .year .sub {
  font-size: .7em;
}

#page-history .section-wrap .section .content2 .con .sec {
  margin-bottom: 1em;
}

#page-history .section-wrap .section .content2 .con img {
  width: 20%;
  height: 20%;
  background-color: #fff;
}

#page-history .section-wrap .section .content2 .con .arrow {
  position: absolute;
  top: 1em;
  right: -1em;
  color: #9e9985;
  font-size: 3em;
  opacity: .8;
}

#page-skill {
  color: rgba(0, 0, 0, 0.8);
}

#page-skill .section-wrap {
  position: relative;
  top: 0;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: .3em solid black;
}

#page-skill .section-wrap .section {
  position: relative;
  width: 90%;
  margin: 1em auto;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.8);
}

#page-skill .section-wrap .section h2 {
  border: none;
  margin: 1em;
  margin-bottom: .5em;
}

#page-skill .section-wrap .section #control-btn,
#page-skill .section-wrap .section #control-btn-clicked {
  text-align: center;
}

#page-skill .section-wrap .section #control-btn li,
#page-skill .section-wrap .section #control-btn-clicked li {
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: .3s;
}

#page-skill .section-wrap .section #control-btn li .mini,
#page-skill .section-wrap .section #control-btn-clicked li .mini {
  opacity: .6;
}

#page-skill .section-wrap .section #control-btn li:hover,
#page-skill .section-wrap .section #control-btn-clicked li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

#page-skill .section-wrap .section #control-btn li {
  margin: 1em;
}

#page-skill .section-wrap .section #control-btn li.main-btn {
  display: inline-block;
  width: 43%;
}

#page-skill .section-wrap .section #control-btn li#ex-btn {
  width: 90%;
  margin: auto;
}

#page-skill .section-wrap .section #control-btn-clicked li {
  display: inline-block;
  margin: 0 1em;
}

#page-skill .section-wrap .section .sub-sec {
  display: none;
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#page-skill .section-wrap .section .sub-sec ul li {
  display: inline-block;
  position: relative;
  margin: 1em;
  padding: 1em;
  color: rgba(255, 255, 255, 0.8);
  font-size: .8em;
  background-color: rgba(0, 0, 0, 0.8);
}

#page-skill .section-wrap .section .sub-sec ul li .fa,
#page-skill .section-wrap .section .sub-sec ul li img {
  position: absolute;
  bottom: 0%;
  right: 5%;
  height: 80%;
  margin: auto;
  font-size: 5em;
  opacity: .2;
}

#page-skill .section-wrap .section .sub-sec ul li .ttl {
  font-size: 1.3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#page-skill .section-wrap .section .sub-sec ul li.main {
  width: 30%;
}

#page-skill .section-wrap .section .sub-sec ul li.main.clista {
  width: 20em;
}

#page-skill .section-wrap .section .sub-sec ul li.main.sub {
  width: 90%;
}

#page-skill .section-wrap .section .sub-sec ul li.main.sub li {
  width: 30%;
}

#page-gallery .section {
  position: relative;
  width: 90%;
  padding: 2em;
  line-height: 1.5em;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

#page-gallery .section h2.ttl {
  margin: 0;
  margin-bottom: .5em;
  text-align: center;
  border-bottom: 0.1em dotted #8C7676;
}

#page-gallery .section #ctrl-btn,
#page-gallery .section #ctrl-btn-clicked {
  margin-bottom: 3em;
  text-align: center;
}

#page-gallery .section #ctrl-btn li,
#page-gallery .section #ctrl-btn-clicked li {
  width: 40%;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  cursor: pointer;
  transition: .3s;
}

#page-gallery .section #ctrl-btn li:hover,
#page-gallery .section #ctrl-btn-clicked li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#page-gallery .section .sub-sec {
  margin-bottom: 5%;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

#page-gallery .section .sub-sec h2 {
  margin-bottom: 0;
  padding: .5em;
  text-align: center;
  border-bottom: 3px dotted;
}

#page-gallery .section .sub-sec .des {
  width: 90%;
  margin: auto;
  margin-top: 0;
  text-align: center;
}

#page-gallery .section #web-con li {
  display: inline-block;
  position: relative;
  width: 40%;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: .3s;
}

#page-gallery .section #web-con li .ttl {
  margin: 0;
  margin-bottom: .8em;
  padding: 0;
  font-size: 2rem;
  border-bottom: 3px dotted;
}

#page-gallery .section #web-con li img {
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: .5;
}

#page-gallery .section #web-con li li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#page-gallery .section #web-con li ul.des-skill {
  position: absolute;
  bottom: 4em;
  right: 8%;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

#page-gallery .section #web-con li ul.des-skill li {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: .8em;
  line-height: 1.3em;
  text-align: left;
  box-shadow: none;
}

#page-gallery .section #web-con li ul.des-skill li:first-child {
  margin-bottom: .3em;
  border-bottom: 2px dotted;
}

#page-gallery .section #web-con li ul.des-skill li:not(.first) {
  margin-left: .5em;
  font-size: .8em;
}

#page-gallery .section #web-con li .code {
  display: block;
  position: relative;
  margin-top: .5em;
  padding: .2em;
  color: white;
  font-size: 3rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

#page-gallery .section #web-con li .code .balloon {
  position: absolute;
  top: -3.5em;
  left: 5%;
  padding: 1em;
  border-radius: 5px;
  color: #8C7676;
  font-size: 1.5rem;
  background-color: white;
  opacity: 0;
  transition: .3s;
}

#page-gallery .section #web-con li .code .balloon:after {
  position: absolute;
  top: 100%;
  right: 30%;
  border: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.8);
  content: "";
}

#page-gallery .section #web-con li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#page-gallery .section #web-con .code:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#page-gallery .section #web-con .code:hover .balloon {
  opacity: 1;
  top: -4.5em;
}

#page-gallery .section #web-con li.jelly {
  width: 30%;
  margin: 1em auto;
}

#page-gallery .section #illust-con {
  margin-top: 5em;
}

#page-gallery .section #illust-con .overlay {
  position: absolute;
}

#page-gallery .section #illust-con .table {
  width: 90%;
  margin: 2em auto;
}

#page-gallery .section #illust-con .table h3 {
  margin: 0;
  padding-left: 0;
  padding-bottom: .5em;
  font-size: 2.5rem;
  border-bottom: 4px dotted;
}

#page-gallery .section #illust-con .table p {
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

#page-gallery .section #illust-con .table .img-con {
  margin: auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#page-gallery .section #illust-con .table .img-con .thumbnail {
  width: 15vw;
  margin: .2em;
  padding: 0;
  transition: .3s;
  cursor: pointer;
}

#page-gallery .section #illust-con .table .img-con .thumbnail:hover {
  width: 15.5vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  opacity: .6;
}

#page-gallery .section #illust-con .table .img-con .des-illust {
  display: none;
  position: fixed;
  top: 15vh;
  margin: auto;
  width: 80%;
  height: 70%;
  margin: auto;
  padding: 1em 2em;
  background: #fff;
  border-radius: 10px;
  z-index: 2;
  /* 手前に表示 */
  overflow-y: auto;
}

#page-gallery .section #illust-con .table .img-con .des-illust .ttl {
  width: 100%;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  border-bottom: 1px solid;
}

#page-gallery .section #illust-con .table .img-con .des-illust .main-img,
#page-gallery .section #illust-con .table .img-con .des-illust .con1,
#page-gallery .section #illust-con .table .img-con .des-illust .con2,
#page-gallery .section #illust-con .table .img-con .des-illust .con2-g {
  display: inline-block;
  vertical-align: top;
  margin: .5em;
}

#page-gallery .section #illust-con .table .img-con .des-illust .main-img {
  width: 40%;
}

#page-gallery .section #illust-con .table .img-con .des-illust .con2 {
  width: 50%;
}

#page-gallery .section #illust-con .table .img-con .des-illust .con2 .con2-g {
  width: 38%;
  margin: .2em;
  padding: 1em;
  color: white;
  text-align: center;
  background-color: #8C7676;
  border-radius: 10px;
}

#page-gallery .section #illust-con .table .img-con .des-illust .con2 .con2-g .cap {
  margin-bottom: .5em;
  border-bottom: 1px solid;
  font-size: 1.1em;
}

#page-gallery .section #illust-con .table .img-con .des-illust .con2 .con2-g .sub {
  font-size: .8em;
}

#page-gallery .section #illust-con .table .img-con .des-illust .con2 .des {
  width: 90%;
  height: auto;
  margin: 1em auto;
}

#page-gallery .section #illust-con .sketch {
  width: 80%;
}

#page-gallery .section #illust-con .sketch .thumbnail {
  width: 10vw;
}

#page-gallery .section #illust-con .sketch .thumbnail:hover {
  width: 10.5vw;
}

/* モーダルウィンドウコンテンツのCSS */

#modal-overlay {
  /* 参考文献:https://syncer.jp/jquery-modal-window */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  /* スマホ対策 */
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#page-end {
  color: #fff;
}

#page-end h1 {
  width: 100%;
  padding: .5em;
  font-size: 5.5em;
  line-height: 1.5em;
  text-align: center;
  background-color: #8C7676;
}

#page-end .contact {
  font-size: 3em;
  text-align: center;
}

/* 基礎タグ ---------------------------------*/

/* loading画面 ---------------------*/

#loader-bg {
  position: fixed;
  width: 110vw;
  height: 110vh;
  top: 0;
  left: 0;
  background-color: #F9A1BC;
  z-index: 10000;
}

#loader-bg #loader {
  position: fixed;
  top: 35%;
  width: 100vw;
  margin: auto;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  z-index: 11000;
  animation-name: loading-con;
  animation-duration: 3s;
}

#loader-bg #loader .des {
  margin-top: 1em;
}

#loader-bg #loader .img {
  width: 60px;
  height: 24px;
  margin: auto;
  background: url(../img/loading_chip.png) no-repeat;
  zoom: 7;
  background-position-x: 0px;
  background-position-y: 0px;
  animation: loading 1.5s steps(12) infinite;
}

@keyframes loading {
  to {
    background-position-x: 0px;
    background-position-y: -288px;
  }
}

#loader-bg #loader .progress {
  width: 30%;
  height: .5em;
  margin: .5em auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#loader-bg #loader .progress .gage {
  position: relative;
  left: 0;
  width: 0;
  height: .5em;
  margin: 0;
  padding: 0;
  background-color: #8C7676;
  border-radius: 10px;
  animation: progress-gage 2.8s;
  animation-timing-function: linear;
}

@keyframes progress-gage {
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading-con {
  0% {
    transform: translate(0, 2em);
    opacity: 0;
  }
  20% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* その他 -----------------------------------*/

/*# sourceMappingURL=index.css.map */
