/* 基礎タグにつけるCSS ---------------------*/
body{
}

/* ライブラリ等で追加された要素につけるCSS -------*/

/* その他 */
main{
    margin: 0;
    padding: 2rem;
	animation-name: show;
	animation-duration: 1s;
}
@keyframes show {
	0% {
		transform:translate(0,2em);
		opacity:0;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
	}
}
.contents{
    margin: 2rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
}
#avatar{
    position: absolute;
    width: 5rem;
    top: 15%;
    right: 10%;
}
#Social{
    margin-top: 2rem;
/*    border-top: 1px solid #aaa;*/
}

/* モーダルウィンドウコンテンツのCSS ---------------------*/
#modal-overlay{ /* 参考文献:https://syncer.jp/jquery-modal-window */
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%; /* スマホ対策 */
	background-color:rgba(0,0,0,0.75);
	z-index:1;
}

/* その他--------------------------------------- */

/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media only screen and (max-width:640px){
/*     img{
        max-width: 100%;
        height: auto;
        width /***/:auto;　
    } */
    /* ～以下、画面の横幅が640pxまでの場合のスタイル記入～ */
    body{
    	font-size: 16px;
    }
}
