// -----------------------------------------
// common.css
// 汎用設定
// -----------------------------------------
@charset "utf-8";
$font1: "Mplus 1p";
$base-color1: #8C7676;
$accent-color1: #F9A1BC;
$shadow: rgba(0, 0, 0, .5);

/* 基礎タグ ---------------------------------*/

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $base-color1;
  border-radius: 10px;
}

body {
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
  font-family: $font1;
  font-size: 10px;
}

a {
  color: $base-color1;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  opacity: .6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}


/* ライブラリ等で追加された要素につけるCSS -------*/

.fa-qiita {
  font-size: .6em;
  padding-bottom: .2em;
}

.fa-pixiv {
  width: 4em;
}

/* その他 -----------------------------------*/

.dot {
  image-rendering: pixelated;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.under-line {
  border-bottom: 1px dotted $base-color1;
}

ul.no-list {
  list-style: none;
  padding-left: 0;
}

ul.inline > li {
  display: inline-block;
}
