// -----------------------------------------
// page-intro.css
// page-intro.htmlの設定
// -----------------------------------------
$intro-bg-color1: rgb(154, 102, 77);
$intro-bg-color2: rgb(121, 69, 52);

#page-intro {
  background-color: $intro-bg-color1;
  border-radius: 10px;
  .section {
    position: relative;
    top: 5%;
    width: 90%;
    height: 80%;
    margin: auto;
    padding: 1em;
    font-size: 2rem;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    h2 {
      margin-bottom: .5em;
      text-align: center;
    }
    .con {
      display: inline-block;
      vertical-align: top;
      margin: auto;
      width: 48%;
      .ttl {
        margin-bottom: .2em;
        padding: .5em;
        font-size: 2.5rem;
        text-align: center;
      }
    }
    .con1 {
      .ttl {
        color: white;
        background-color: $shadow;
        border: 5px double;
      }
      table {
        margin: auto;
        font-size: 1em;
        border: none;
        td {
          padding: .7em 1em;
          color: white;
          line-height: 1.5em;
          background-color: $shadow;
          border: 5px double;
        }
        td.theme {
          width: 5em;
        }
        td.con {
          width: 20em;
        }
      }
    }
    .con2 {
      text-align: center;
      .swiper-pagination {
        top: 70%;
      }
    }
  }
}
