// -----------------------------------------
// page-history.css
// page-history.htmlの設定
// -----------------------------------------
$history-bg-color1: rgb(158, 153, 133);
#page-history {
  .r-scrolls {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    background-image: url(../img/history-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }
  .section-wrap {
    position: relative;
    top: 5%;
    width: 95%;
    height: 90%;
    margin: auto 0;
    background-color: $history-bg-color1;
    border-radius: 10px;
    .section {
      position: relative;
      top: 5%;
      width: 91%;
      height: 85%;
      margin: 1em;
      line-height: 1.5em;
      background-color: white;
      border-radius: 10px;
      overflow-y: auto;
      h2 {
        text-align: center;
      }
      .content1 {
        width: 100%;
        p {
          width: 70%;
          margin: 1em auto;
          .under-line {
            border: none;
            border-bottom: 2px dotted;
          }
        }
      }
      .content2 {
        width: 100%;
        margin: auto 1em;
        .con {
          display: inline-block;
          vertical-align: top;
          position: relative;
          width: 20%;
          margin: 0 2em 2em 2em;
          padding: 1em;
          text-align: center;
          border: 3px dotted $history-bg-color1;
          border-radius: 10px;
          .year {
            margin-bottom: .5em;
            height: 2em;
            line-height: 1em;
            border-bottom: 1px solid;
            .sub {
              font-size: .7em;
            }
          }
          .sec {
            margin-bottom: 1em;
          }
          img {
            width: 20%;
            height: 20%;
            background-color: #fff;
          }
          .arrow {
            position: absolute;
            top: 1em;
            right: -1em;
            color: $history-bg-color1;
            font-size: 3em;
            opacity: .8;
          }
        }
      }
    }
  }
}
