// -----------------------------------------
// page-common.css
// ページ毎の汎用設定
// -----------------------------------------
@charset "utf-8";

.mini {
  font-size: .5em;
}

h2 {
  padding-left: .5em;
  padding-bottom: .2em;
  text-align: center;
  border-bottom: 1px solid $base-color1;
  .mini {
    margin-left: 1em;
  }
}

// page-indexとpage-end以外にかかる
.page-sec {
  position: relative;
  top: 5%;
  width: 95%;
  height: 75vh;
  margin: 0 auto;
  .section {
    position: relative;
    margin: auto;
    padding: 1em;
    font-size: 2rem;
  }
}
