// -----------------------------------------
// page-skill.css
// page-skill.htmlの設定
// -----------------------------------------
$skill-bg-color1: rgba(0, 0, 0, .8);
$skill-bg-color2: rgba(255, 255, 255, .8);

#page-skill {
  color: $skill-bg-color1;
  .section-wrap {
    position: relative;
    top: 0;
    width: 100%;
    margin: auto;
    background-color: $skill-bg-color1;
    border: .3em solid black;
    .section {
      position: relative;
      width: 90%;
      margin: 1em auto;
      line-height: 1.5em;
      background-color: $skill-bg-color2;
      h2 {
        border: none;
        margin: 1em;
        margin-bottom: .5em;
      }
      #control-btn,
      #control-btn-clicked {
        text-align: center;
        li {
          padding: .5em;
          background-color: $skill-bg-color2;
          cursor: pointer;
          transition: .3s;
          .mini {
            opacity: .6;
          }
        }
        li:hover {
          color: white;
          background-color: $skill-bg-color1;
        }
      }
      #control-btn {
        li {
          margin: 1em;
        }
        li.main-btn {
          display: inline-block;
          width: 43%;
        }
        li#ex-btn {
          width: 90%;
          margin: auto;
        }
      }
      #control-btn-clicked {
        li {
          display: inline-block;
          margin: 0 1em;
        }
      }
      .sub-sec {
        display: none;
        margin: 1em;
        padding: 1em;
        text-align: center;
        background-color: $skill-bg-color2;
        ul {
          li {
            display: inline-block;
            position: relative;
            margin: 1em;
            padding: 1em;
            color: $skill-bg-color2;
            font-size: .8em;
            background-color: $skill-bg-color1;
            .fa,
            img {
              position: absolute;
              bottom: 0%;
              right: 5%;
              height: 80%;
              margin: auto;
              font-size: 5em;
              opacity: .2;
            }
            .ttl {
              font-size: 1.3em;
              border-bottom: 1px solid $skill-bg-color2;
            }
          }
          li.main {
            width: 30%;
          }
          li.main.clista {
            width: 20em;
          }
          li.main.sub {
            width: 90%;
            li {
              width: 30%;
            }
          }
        }
      }
    }
  }
}
