// -----------------------------------------
// page-index.css
// page-index.htmlの設定
// -----------------------------------------
#page-index {
  color: #fff;
  #bg-index {
    text-align: center;
    img {
      margin-top: -22%;
      margin-left: -2%;
      width: 75%;
      animation: bg-index 40s infinite;
      animation-timing-function: linear;
    }
    @keyframes bg-index {
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .section {
    position: absolute;
    width: 100vw;
    top: 20%;
    text-align: center;
    z-index: 50;
    h1 {
      margin: 0 auto;
      font-size: 5.5em;
      line-height: 1.5em;
      .big {
        font-size: 1.2em;
      }
    }
    h2 {
      margin-top: 0.5em;
      font-size: 2em;
    }
    .des {
      width: 30em;
      margin: 2em auto;
      padding: 1em;
      font-size: 1.5em;
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
    }
  }
}
