/* ----------------------------------------------
 スマホ用CSS
---------------------------------------------- */

@import "common-sp";

/* 各タグに付ける ----------------------------*/

#top {
  .con-inner {
    ul {
      margin-top: 3em;
      li {
        width: 60vw;
      }
    }
  }
}

#web {
  .con-inner {
    .con {
      li {
        width: auto;
        ul.des-skill {
          position: inherit;
        }
      }
      .code:after {
        content: "コードを見る";
        font-size: .5em;
      }
      .code:hover {
        .balloon {
          opacity: 0;
        }
      }
      li.jelly {
        width: 84vw;
        margin: auto;
      }
    }
  }
}

#illust {
  .con-inner {
    .con {
      .table {
        .img-con {
          img {
            width: 50vw;
          }
        }
      }
    }
  }
}
