@charset "utf-8";
@import "common";

/* 基礎タグ ---------------------------------*/

/* その他 -----------------------------------*/

/* loading画面 ---------------------*/

#loader-bg {
  position: fixed;
  width: 110vw;
  height: 110vh;
  top: 0px;
  left: 0px;
  background-color: $accent-color1;
  z-index: 10000;
  #loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -140px;
    font-size: 1.7rem;
    color: $base-color2;
    text-align: center;
    z-index: 11000;
    animation-name: show;
    animation-duration: 3s;
    .icon {
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 2em;
    }
    .ttl {
      margin-top: 0;
      padding-top: 0;
    }
    img {
      width: 40%;
      height: 40%;
    }
  }
}

@keyframes show {
  0% {
    transform: translate(0, 2em);
    opacity: 0;
  }
  20% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* 各タグに付ける ----------------------------*/

#top {
  width: 80vw;
  margin-top: 10vh;
  margin-left: 10vw;
  .con-inner {
    display: flex;
  }
  .section {
    width: 50vw;
    h1 {
      width: 90%;
      margin: 0;
      font-size: 4rem;
      text-align: left;
      border-bottom: 1px solid $base-color2;
    }
    .mini {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.7rem;
      line-height: 2.3rem;
    }
  }
  .img {
    display: none;
    width: 30vw;
    font-size: 10vw;
    text-align: center;
  }
}

#profiel {
  .con-inner {
    width: 80vw;
    margin-top: 20vh;
    margin-left: 10vw;
    text-align: left;
    h2 {
      margin: 0;
      padding-left: .5em;
      text-align: left;
      border-bottom: 1px solid $base-color2;
      .mini {
        margin-left: 1em;
        font-size: .5em;
      }

    }
    .section {
      position: relative;
      width: 100%;
      p {
        margin: 1em;
        padding: 3em;
        padding-right: 4em;
        background-color: $base-color3;
        border: 1px solid $base-color3;
        border-radius: 10px;
        font-size: 1.5em;
        line-height: 2em;
        box-shadow: 0 0 10px #ddd;
      }
      .img {
        position: absolute;
        top: 3em;
        right: 4em;
        width: 8vw;
        z-index: 100;
      }
    }
  }
}

#gallery {
  .con-inner {
    ul {
      text-align: center;
      li {
        text-align: center;
        display: inline-block;
        width: 18vw;
        margin: 1rem;
        padding: 1rem;
        color: $base-color3;
        border-radius: 10px;
        background-color: $base-color2;
        transition: .2s;
        .word {
          width: 60%;
          margin: 1em auto;
          font-size: 2rem;
          border-bottom: 1px solid $base-color3;
        }
        .icon {
          font-size: 8rem;
        }
      }
      li:hover {
        background-color: $base-color2-thin;
      }
    }
  }
}

#contact {
  .con-inner {
    p {
      font-size: 1.5rem;
      text-align: center;
    }
    .sns {
      margin-top: 2.5em;
      p {
        margin-bottom: 0;
      }
      .img {
        text-align: center;
        a {
          display: inline-block;
          li {
            width: 5rem;
            margin: 0rem 3rem 0 3rem;
            padding: 1rem 1.5rem;
            font-size: 4rem;
            border: 1px solid $base-color2;
            border-radius: 100px;
          }
          .mini {
            margin: 0;
            padding: 0em 1em .5em 1em;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
