/* ----------------------------------------------
 スマホ用CSS
---------------------------------------------- */

@import "common-sp";

/* loading画面 ---------------------*/

#loader-bg {
  position: fixed;
  width: 110vw;
  height: 110vh;
  top: 0px;
  left: 0px;
  z-index: 10000;
  #loader {
    position: fixed;
    margin-top: -90px;
    margin-left: -90px;
    font-size: 1.5rem;
  }
}

/* 各タグに付ける ----------------------------*/

#top {
  .section {
    width: 90vw;
    margin: auto;
    h1 {
      font-size: 3.5rem;
    }
  }
}

#profiel {
  .con-inner {
    margin-top: 0;
    h2 {
      width: 90%;
    }
    .section {
      p {
        margin: 1em auto;
        padding: 1em;
      }
      img {
        position: absolute;
        top: -14em;
        right: -6em;
        width: 20vw;
      }
    }
  }
}

#gallery {
  .con-inner {
    ul {
      margin-top: 3em;
      li {
        width: 60vw;
      }
    }
  }
}

#contact {
  .con-inner {
    p {
      margin: auto 2em;
    }
    .sns {
      ul {
        margin-top: 2em;
        li {
          width: 4rem;
          font-size: 3rem;
        }
      }
    }
  }
}
